body {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.section1 {
	background-color: #dddcdc;
	width: 63%;
	float: left;
	height: 100vh;
	border-color: 1vw solid #b2b2b2;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
}

.section2 {
	background-color: #aabac9;
	width: 37%;
	float: left;
	height: 100vh;
	margin: 0;
	padding: 20px;
    box-sizing: border-box;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.scroll-div-left {
    overflow-y: scroll;
    padding-top: 0;
    max-height: 98%;
}

.scroll-div-right {
    overflow-y: scroll;
    max-height: 75%;
    margin: auto 8%;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
