<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
    <title>SmallLogin</title>
</head>
<body>
    <form method="post">
        User {{ form.user(autocomplete='off') }}
        Password {{ form.pwd(autocomplete='off') }}
        <input class="button" type="submit" name="submit" value="login">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
    <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>