<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
    {% endblock %}
    {% block title %}
    <title>Dashboard</title>
    {% endblock %}
</head>
<body>
    <div class="section1">
        <p>操作说明：</p>
        <p>一：添加文件索引（初始只有目录，需要手动添加文件名）</p>
        <p>二：选择相应文件，进行添加、删除数据</p>
        <p>PS：</p>
        <p>（1）因为删除操作较危险，暂时不在文件操作中加入</p>
        <p>（2）文件名不允许有特殊字符（& > " / \ 之类的）</p>
        <p>（3）录入题目无需录入题号、ABCD 之类的</p>
        {% block section1 %}
        {% endblock %}
    </div>
    <div class="section2">
        {% block section2 %}
        {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>