{% extends 'secret_base.html' %}

{% block link %}
{{ super() }}
{% endblock %}

{% block section1 %}
            <div class="scroll-div-left">
                <div style="overflow-x: auto;">
                    <table>
                        <tr>
                            <th>Num</th>
                            {% for i in columns_tags %}
                            <th>{{ i }}</th>
                            {% endfor %}
                        </tr>
                        {% for i in range(index_size) %}
                        <tr>
                            <th>{{ i }}</th>
                            {% for data in df.loc[i] %}
                            <th>{{ data }}</th>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
{% endblock %}

{% block section2 %}
            <div class="scroll-div-right">
                <div style="width: 80%; margin: 0 auto;">
                    <form method="post">
                        <label>问题</label>
                        <input type="text" name="question" autocomplete="off">
                        <label>A:</label>
                        <input type="text" name="a" autocomplete="off">
                        <label>B:</label>
                        <input type="text" name="b" autocomplete="off">
                        <label>C:</label>
                        <input type="text" name="c" autocomplete="off">
                        <label>D:</label>
                        <input type="text" name="d" autocomplete="off">
                        <label>解析:</label>
                        <input type="text" name="solution" autocomplete="off">
                        <label>Tags:</label>
                        <input type="text" name="tags" autocomplete="off">
                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
{% endblock %}

{% block scripts %}
{% endblock %}